<?xml version="1.0" encoding="UTF-8"?>
<rules>
    <clear />
    <rule name="已导入的规则 2">
        <match url="^game/(.+?)-1-(.+?).html$" ignoreCase="false" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
        <action type="Rewrite" url="/e/action/ListInfo.php?classid=1&amp;ph=1&amp;tempid=12&amp;line=30&amp;type={R:1}&amp;page={R:2}&amp;orderby=onclick" appendQueryString="false" />
    </rule>
    <rule name="已导入的规则 1">
        <match url="^game/(.+?)-0-(.+?).html$" ignoreCase="false" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
        <action type="Rewrite" url="/e/action/ListInfo.php?classid=1&amp;ph=1&amp;tempid=12&amp;line=30&amp;type={R:1}&amp;page={R:2}&amp;orderby=newstime" appendQueryString="false" />
    </rule>
    <rule name="已导入的规则 3">
        <match url="^soft/(.+?)-1-(.+?).html$" ignoreCase="false" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
        <action type="Rewrite" url="/e/action/ListInfo.php?classid=2&amp;ph=1&amp;tempid=13&amp;line=30&amp;type={R:1}&amp;page={R:2}&amp;orderby=onclick" appendQueryString="false" />
    </rule>
    <rule name="已导入的规则 4">
        <match url="^soft/(.+?)-0-(.+?).html$" ignoreCase="false" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
        <action type="Rewrite" url="/e/action/ListInfo.php?classid=2&amp;ph=1&amp;tempid=13&amp;line=30&amp;type={R:1}&amp;page={R:2}&amp;orderby=newstime" appendQueryString="false" />
    </rule>
                <rule name="已导入的规则 5">
                    <match url="^tags/(.+?)_(.+?).html$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)$" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="/e/tags/index.php?tagid={R:1}&amp;page={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 6">
                    <match url="^tags/(.+?).html$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^(.*)$" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="/e/tags/index.php?tagid={R:1}" appendQueryString="false" />
                </rule>
</rules>
